---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const collection = await getCollection("about");
---

<Layout pageName="Home">
  <section>
    {
      collection.sort((a, b) => a.data.sortOrder - b.data.sortOrder).map(async (entry) => {
        const { Content } = await entry.render();
        return (
          <Card title={entry.data.title}>
            <Content></Content>
          </Card>
        )
      })
    }
  </section>
</Layout>
<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
</style>
