---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const collection = await getCollection('about');
---

<Layout pageName="Home">
  <section>
    {
      collection.sort((a, b) => a.data.sortOrder - b.data.sortOrder).map(async (entry) => {
        const { Content } = await entry.render();
        return <section>
          <h2>{entry.data.title}</h2>
          <Content></Content>
        </section>
      })
    }
  </section>
</Layout>
<style>
</style>
