---
interface Props {
  title: string;
  slug: string;
  description: string;
  date: string;
}

const { title, slug, description, date } = Astro.props;
---

<section>
  <a href={`/blog/${slug}`}><h2>{title}</h2></a>
  <div>{date}</div>
  <div>{description}</div>
</section>
<style>
  section {
    display: flex;
    flex-direction: column;
    border-width: 0.1em;
    border-color: slategray;
    border-style: solid;
    border-radius: 1em;
    padding: 0em 1em 1em 1em;
  }
</style>
