---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section>
  <h2>{title}</h2>
  <slot></slot>
</section>
<style>
  section {
    border-width: 0.1em;
    border-color: slategray;
    border-style: solid;
    border-radius: 1em;
    padding: 0em 1em;
  }
</style>
