---
---

<footer>
  <div>© 2024 Kevin Huynh</div>
  <div id="visitorCounter"></div>
</footer>
<style>
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
<script>
  const response = await fetch(
    "https://obpih414if.execute-api.us-west-1.amazonaws.com/novel-bat",
    { 
      method: "POST",
      headers: {
        "x-api-key": "v1n0wPJ0dM5dvZgETT4Zh12Kntui0zqO54pS1DuY" // gitleaks:allow
      }
    }
  );
  const data = await response.json();
  document.getElementById("visitorCounter")!.textContent = `Visitor #${data.data}`;
</script>
