---

---

<footer>
  <div class="copyright">
    <div>© 2024 Kevin Huynh</div>
    <div id="visitorCounter"></div>
  </div>
  <div>
    <a href="https://github.com/huynhlkevin">GitHub</a>
  </div>
</footer>
<style>
  footer {
    display: flex;
    gap: 1em;
  }
  .copyright {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
</style>
<script>
  import { REST_API_ENDPOINT, REST_API_KEY } from "astro:env/client";

  const setVisitorCounter = async (httpMethod: string) => {
    const response = await fetch(REST_API_ENDPOINT, {
      method: httpMethod,
      headers: { "x-api-key": REST_API_KEY },
    });
    const data = await response.json();
    document.getElementById("visitorCounter")!.textContent =
      `Visitors: ${data.data}`;
  };

  if (
    typeof localStorage === "undefined" ||
    localStorage.getItem("visited") === null
  ) {
    setVisitorCounter("POST");
    localStorage.setItem("visited", "true");
  } else {
    setVisitorCounter("GET");
  }
</script>
