---
---

<footer>
  <div>© 2024 Kevin Huynh</div>
  <div id="visitorCounter"></div>
</footer>
<style>
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
<script>
  const response = await fetch(
    "https://79iq20f0o8.execute-api.us-west-1.amazonaws.com/humble-monarch", 
    { 
      method: "POST",
      headers: {
        "x-api-key": "0AqpdTJEeV9L8PFAjOirH9hxn06Cjco69eX3uOLQ"
      }
    }
  );
  const data = await response.json();
  document.getElementById("visitorCounter")!.textContent = `Visitor #${data.data}`;
</script>
