---
---

<header>
  <h1>Kevin Huynh</h1>
  <nav>
    <a href=".">Home</a>
  </nav>
</header>
<style>
  header {
    display: flex;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: right;
    flex-grow: 1;
  }
</style>
