---
import ThemeToggle from "./ThemeToggle.astro";
---

<header>
  <div>Kevin Huynh</div>
  <ThemeToggle />
  <nav>
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
  </nav>
</header>
<style>
  header {
    display: flex;
    gap: 1em;
  }
  div {
    font-size: xx-large;
    font-weight: bold;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: right;
    flex-grow: 1;
    gap: 1em;
  }
</style>
