---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  pageName: string;
}

const { pageName } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Kevin Huynh - {pageName}</title>
    <script is:inline>
      const selectedTheme = (() => {
        if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
          return localStorage.getItem("theme") ?? "light";
        }

        return window.matchMedia(`(prefers-color-scheme: dark)`).matches
          ? "dark"
          : "light";
      })();

      if (selectedTheme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }

      window.localStorage.setItem("theme", selectedTheme);
    </script>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    font-family: system-ui, sans-serif;
    transition: all 0.5s ease-in-out;
    background-color: white;
    color: black;
  }
  
  .dark {
    background-color: #282a36;
    color: #f8f8f2;
  }

  .dark a:link {
    color: #87ceeb;
  }

  .dark a:visited {
    color: thistle;
  }

  .dark a:active {
    color: red;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  body {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    line-height: 1.6;
  }
  .markdownImageWrapper {
    overflow-x: auto;
  }
</style>
